<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title><%= info.title %></title>
    <meta name="author" content="<%= info.author %>">
    <% if (info.keywords !== '') {%>
    <meta name="keywords" content="<%= info.keywords %>">
    <% } %>

    <!-- Your master-app styles -->
        <link href="/assets/css/app.css" rel="stylesheet">
    <!-- /Your master-app styles -->

</head>
<body>
    <div class="container" role="main"><%- content %></div>
    <script src="/assets/js/system.js"></script>
    <script>
        System.config({
            baseURL: '/assets/js/'
        });
        System.import('app/app');
    </script>
</body>
</html>