<h1>Colour scheme</h1>

<div class="source_info">
    <p>Complete colour scheme</p>
</div>

<section class="source_section">
    <h2>Main brand colours</h2>

    <div class="source_example">
        <%- include('colour.html', {color: '#d6d6d6', name: 'Brand'}) %>
        <%- include('colour.html', {color: 'rgb(121, 185, 40)', name: 'Secondary brand'}) %>
    </div>
</section>

<section class="source_section">
    <h2>Greys</h2>

    <div class="source_example">
        <%- include('colour.html', {color: '#555555', name: 'Grey 1'}) %>
    </div>
</section>